<mat-toolbar color="primary">
  <h1>eCommerce</h1>
  <ul class="nav-list">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/cart">Cart</a>
    </li>
    <li *ngIf="isAdmin">
      <a routerLink="/admin">Admin</a>
    </li>
  </ul>
  <a routerLink="/login" [style.display]="isLoggedIn ? 'none' : 'block'"
    ><button mat-raised-button>Login</button></a
  >
  <button
    mat-raised-button
    [style.display]="isLoggedIn ? 'block' : 'none'"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>
