.card {
  max-width: 800px;
  margin: 10px auto;
  gap: 20px;
  img {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
  }
  h5 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
}
