<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <div class="example-container">
        <mat-form-field appearance="fill" class="width-50">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Ex. John" [(ngModel)]="fname" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-50 ml-2">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Ex. Doe" [(ngModel)]="lname" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Email address</mat-label>
          <input
            matInput
            placeholder="Ex. pat@example.com"
            [(ngModel)]="email"
          />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Enter password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <br />
        <mat-spinner
          [style.display]="showSpinner ? 'block' : 'none'"
          class="spinner-center"
        ></mat-spinner>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="register()">
            Register
          </button>
        </mat-card-actions>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
